body {
    background-color: #343a40;
    color: white;
    font-family: 'Montserrat-bold', sans-serif;
    margin: auto;
    text-align: left;
}

/* homepage */
.homeBg {
    display: block;
    margin: auto;
    opacity: .8;
}

.new {
    font-size: 1.5rem;
    line-height: 2;
}

.spacing {
    padding-right: 5%;
}

/* NavBar */

.navBar {
    background-color: #e3f2fd;
}

.brand {
    font-size: 2rem;
    font-weight:  900;
}

.brand-text {
    color: black;
}

.logo {
    width: 5%;
    padding-right: 1%;
}

.navContent {
    padding-right: 5%;
    font-size: 1.5rem;
    font-weight: 600;
}

.drop-item {
    background-color: #e3f2fd;
}

/** footer **/
.footer {
    background-color: #e3f2fd;
    color: #bdc3ca;
    line-height: 2rem;
}



/** contents **/

.content-body {
    padding: 2%;
    /* background-color: white; */
}

.form {
    background-color: #555b61;
    color: white;
    padding: 3%;
    border-radius: 3%;
    width: 30rem;
    margin: auto;
    text-align: center;
}

.form img {
    width: 50%;
}
